<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>851C38992CF33D8D0016B995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85824C662CDA49C1005D5D19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85824C992CE0D435005D5D19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>859D54302CFF0403001E9F0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>859D54392CFF0403001E9F0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85CC3FE02CE4B73900A5C7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
